@page
@model KoiFarmShop.WebApp.Pages.Customers.ViewOrderModel

@{
    ViewData["Title"] = "ViewOrder";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>ViewOrder</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrder[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrder[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrder[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrder[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrder[0].UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrder[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrder[0].IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KoiOrder[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KoiOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.KoiOrderId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.KoiOrderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.KoiOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
