@page
@model KoiFarmShop.WebApp.Pages.Staff.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KoiFish</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Origin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Origin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.UpdateBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.UpdateBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.UpdateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Category.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Size.SizeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.KoiFish.KoiFishId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
